<header id="header-row">
   <div class="container"> 
        <div id="lab-name">
            <a href="/">
            <h1><em>Miller<span class="dash">&ndash;</span>Jensen</em> Laboratory</h1>
            <h2>at Yale Biomedical Engineering</h2>
            </a>
        </div>
        <div>
            <ul class="nav">
                <li {{ if .IsHome }}class="active"{{ end }}>
                    <a href="/">Home</a>
                </li>
                <li {{if eq .CurrentSection.Title "People" }}class="active"{{end}}>
                    <a href="/people/">People</a>
                </li>
                <li {{if eq .CurrentSection.Title "Publications" }}class="active"{{end}}>
                    <a href="/publications/" >Publications</a>
                </li>
                <li {{if eq .CurrentSection.Title "News" }}class="active"{{end}}>
                    <a href="/news/">News</a>
                </li>
            </ul>
        </div>
    </div>
</header>
