<div id="banner">
  <div id="tagline">
    <p id="westudy">
      We study how
      <em>cell signaling pathways</em> and
      <em>cell-cell communication networks</em> regulate
      <em>immune cell behavior</em>
    </p>
    <p id="weuse">
      ...using tools from
      <em>engineering</em>,
      <em>biology</em>, and
      <em>computer science</em>.
    </p>
  </div>
  <div id="main-image-holder">
    <script>
        const pictures = [
                    {
                        "src": "macrophage.jpg",
                        "alt": "A macrophage from NIAID",
                        "credit": "Photo from https://www.flickr.com/photos/niaid/",
                    },
                    {
                        "src": "macrophage2.jpg",
                        "alt": "A macrophage from NIAID",
                        "credit": "Photo from https://www.flickr.com/photos/niaid/",
                    },
                    {
                        "src": "macrophage3.png",
                        "alt": "A macrophage from NIAID",
                        "credit": "Photo from https://www.flickr.com/photos/niaid/",
                    },
                    {
                        "src": "MedRF_29361.jpg",
                        "alt": "Virus image copright MedicalRF.com",
                        "credit": "Photo from https://www.MedicalRF.com",
                    },
                ];
        const picture = pictures[Math.floor(Math.random() * pictures.length)];
        const newImg = document.createElement("img");
        newImg.className = 'box-rotate-15 large-shadow hidden-xs hidden-sm';
        newImg.setAttribute('alt', picture.alt);
        newImg.setAttribute('src', '/img/' + picture.src );
        document.getElementById("main-image-holder").appendChild(newImg);
    </script>
  </div>
</div>
